/*first page of website*/

#my-pie {
    background-image: url('../img/pieheart.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

h2 {
    font-weight: bolder;
    font-size: 80px;
    color: #FFE4E1;
    font-family: 'Great Vibes', cursive;
    margin-top: 100px;
}

#enter {
  margin-top: 400px;
  margin-top: 400px;

}

#button_1 {
    background-color: transparent;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 400px;

}

.fa-facebook-square {
    color: white;
}

.fa-instagram {
    color: white;
}

#icon-row {
    margin-top: 40px;
}


/*second page of website*/

#g-nav {
    font-weight: bolder;
    margin-top: 40px;
    font-size: 80px;
    color: #ffd1cc;
    font-family: 'Great Vibes', cursive;
}

.my-nav {
    background-color: transparent;
    border: none;
}

.navbar-brand {
    font-family: 'Buda', cursive;
    font-size: 27px;
}

#first-row {
    margin-top: 80px;
}

.l-link {
  color: inherit;
}

h3 {
    font-family: 'Buda', cursive;
    color: #808080;
    font-size: 25px;
}

p {
    font-family: 'Buda', cursive;
    color: #808080;
    font-size: 18px;
}

a {
    text-decoration: none;
}

#photo {
    margin-top: 37px;
}

img {
    opacity: 0.5;

}

img:hover {
    opacity: 1.0;
}

#slides {
  margin-top: 80px;
  margin-right: 45px;
}

h1 {

}

h1:hover {
  font-weight: bolder;
  font-size: 80px;
  color: #CD5C5C;
  font-family: 'Great Vibes', cursive;
}

#sign-up {
  margin-top: 80px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  background-color: #FFE4E1;
  width: 100%;
}

html, body, #map {
  height: 100%;
  margin: 0;
}
